{% load static %}  
<!DOCTYPE html> 
<html lang="ru">  
  <head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "img/logo.png"%}" type="image">
    <title>mysite</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
    <body>
      <header>
        {% include 'products/includes/header.html'%}
      </header>
        <main>
        {% block content %}
        {% endblock %}
        </main>
    </body>
    <footer class="footer">
      <h4 class="footer-author">Я х ОПТИМУС ПРАЙМ</h4>
      <p class="footer-cop">© 2024 Copyright <span style="color:rgb(12, 20, 240)">Строй</span>Балт</p>
    </footer>
  
  </html>