{% load static %}  
<!DOCTYPE html> 
<html lang="ru">  
  <head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "img/logo.png"%}" type="image">
    <title>mysite</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'products/includes/header.html'%}
    </header>
    <main class='cont1'> 
      {% block content %}
      {% endblock %}
    </main>        
    <footer>
      {% include 'products/includes/footer.html'%}
    </footer>
  </body>
</html>