{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <div class="container">
        <main class="lists">
            {% for products in page_obj %}
                <div class="list">
                    <!-- Карточка товара -->
                    <!-- Верхняя часть -->
                    <div class="list__top">
                        <!-- Изображение-ссылка товара -->
                        <a href="#" class="list__image">
                            <img src="{{ products.image.url }}">
                        </a>
                    </div>
                    <!-- Нижняя часть -->
                    <div class="list__bottom">
                        <!-- Цены на товар (с учетом скидки и без)-->
                        <div class="list__prices">
                            <div class="list__price">{{products.cost}}</div>
                        </div>
                        <!-- Ссылка-название товара -->
                        <a href="#" class="list__title">
                            {{products.name}}
                        </a>
                        <!-- Кнопка добавить в корзину -->
                        <button class="list__add">В корзину</button>
                    </div>
                </div>
            {% endfor %}
        </main>
        <!-- Pagination -->
        {% include 'products/includes/paginator.html' %}
    </div>
{% endblock %}
